In [1]:
import pandas as pd

In [2]:
# Create a "Series" Object from a Python List
ice_cream = ['Chocalate','Vanilla','Strawberry','Rum Raisin']
pd.Series(ice_cream)

0     Chocalate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True,False,False,False,True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
# Create a Series Object from a Dictionary
webster = {
    "Aardvark":"An Animal",
    "Banana":"A delicious fruit",
    "Cyan":"A color"
}
pd.Series(webster)

Aardvark            An Animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

In [7]:
# Attributes

In [10]:
about_me = ['Smart','Handsome','Charming','Humble']
s = pd.Series(about_me)
s

0       Smart
1    Handsome
2    Charming
3      Humble
dtype: object

In [11]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Humble'], dtype=object)

In [12]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
s.dtype

dtype('O')

In [14]:
# Methods

In [16]:
prices = [2.99,4.45,1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [17]:
s.sum()

8.8

In [18]:
s.product()

18.095480000000006

In [19]:
s.mean()

2.9333333333333336

In [20]:
# Parameters and Arguments

In [21]:
# Difficult = Easy, Medium, Hard
# Volume = 1 - 10
# Subtitles = True/False

In [23]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry']
weekdays = ['Mon','Tues','Wed','Thur','Fri']

pd.Series(fruits,weekdays)
pd.Series(data=fruits,index=weekdays)

Mon         Apple
Tues       Orange
Wed          Plum
Thur        Grape
Fri     Blueberry
dtype: object

In [24]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry','Watermelon']
weekdays = ['Mon','Tues','Wed','Thur','Fri','Mon']
pd.Series(data=fruits,index=weekdays)

Mon          Apple
Tues        Orange
Wed           Plum
Thur         Grape
Fri      Blueberry
Mon     Watermelon
dtype: object

In [25]:
# Import Series with the read_csv Method

In [37]:
pokemon = pd.read_csv('../pandas_data/pokemon.csv',usecols=["Pokemon"], squeeze=True)

In [38]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [47]:
google = pd.read_csv('../pandas_data/google_stock_price.csv', usecols=["Stock Price"] ,squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [48]:
pokemon = pd.read_csv('../pandas_data/pokemon.csv',usecols=["Pokemon"], squeeze=True)
google = pd.read_csv('../pandas_data/google_stock_price.csv', usecols=["Stock Price"] ,squeeze=True)

In [59]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [58]:
pokemon.tail(1)

720    Volcanion
Name: Pokemon, dtype: object