In [7]:
import pandas as pd 
fortune = pd.read_csv('../Files/fortune1000.csv', index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [8]:
type(fortune)

pandas.core.frame.DataFrame

In [9]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [10]:
sectors