In [2]:
import pandas as pd 
world = pd.read_csv('../Files/worldstats.csv', index_col=['country','year'], parse_dates=['year'])
world.head(3)

                        Population           GDP
country    year
Arab World 2015-01-01  392022276.0  2.530102e+12
           2014-01-01  384222592.0  2.873600e+12
           2013-01-01  376504253.0  2.846994e+12

In [3]:
type(world.stack())
world.stack().to_frame() # convert series to dataframe

                                             0
country    year
Arab World 2015-01-01 Population  3.920223e+08
                      GDP         2.530102e+12
           2014-01-01 Population  3.842226e+08
                      GDP         2.873600e+12
           2013-01-01 Population  3.765043e+08
...                                        ...
Zimbabwe   1962-01-01 GDP         1.117602e+09
           1961-01-01 Population  3.876638e+06
                      GDP         1.096647e+09
           1960-01-01 Population  3.752390e+06
                      GDP         1.052990e+09

[22422 rows x 1 columns]

In [4]:
# The .unstack() Method
world = pd.read_csv('../Files/worldstats.csv', index_col=['country','year'], parse_dates=['year'])
world.head(3)

                        Population           GDP
country    year
Arab World 2015-01-01  392022276.0  2.530102e+12
           2014-01-01  384222592.0  2.873600e+12
           2013-01-01  376504253.0  2.846994e+12

In [5]:
s = world.stack()

In [6]:
s.head(3)

country     year
Arab World  2015-01-01  Population    3.920223e+08
                        GDP           2.530102e+12
            2014-01-01  Population    3.842226e+08
dtype: float64

In [7]:
s.unstack().unstack().unstack()

            year        country
Population  1960-01-01  Afghanistan           8.994793e+06
                        Albania                        NaN
                        Algeria               1.112489e+07
                        Andorra                        NaN
                        Angola                         NaN
                                                  ...
GDP         2015-01-01  West Bank and Gaza    1.267740e+10
                        World                 7.343364e+13
                        Yemen, Rep.                    NaN
                        Zambia                2.120156e+10
                        Zimbabwe              1.389294e+10
Length: 28224, dtype: float64

In [8]:
world = pd.read_csv('../Files/worldstats.csv', index_col=['country','year'], parse_dates=['year'])
world.head(3)

                        Population           GDP
country    year
Arab World 2015-01-01  392022276.0  2.530102e+12
           2014-01-01  384222592.0  2.873600e+12
           2013-01-01  376504253.0  2.846994e+12

In [9]:
s = world.stack()
s.head(3)

country     year
Arab World  2015-01-01  Population    3.920223e+08
                        GDP           2.530102e+12
            2014-01-01  Population    3.842226e+08
dtype: float64

In [10]:
s.unstack(-1)
s.unstack(2)

s.unstack(-2)
s.unstack(1)

s.unstack(-3)
s.unstack(0)

s.unstack('year')
s.unstack('country')

country                 Afghanistan       Albania       Algeria       Andorra  \
year
1960-01-01 Population  8.994793e+06           NaN  1.112489e+07           NaN
           GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961-01-01 Population  9.164945e+06           NaN  1.140486e+07           NaN
           GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962-01-01 Population  9.343772e+06           NaN  1.169015e+07           NaN
...                             ...           ...           ...           ...
2013-01-01 GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014-01-01 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
           GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015-01-01 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
           GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                      Angola  Antigua and Barbuda    Arab World  \
year
1960-01-01 Population           NaN                  NaN           NaN
           GDP                  NaN                  NaN           NaN
1961-01-01 Population           NaN                  NaN           NaN
           GDP                  NaN                  NaN           NaN
1962-01-01 Population           NaN                  NaN           NaN
...                             ...                  ...           ...
2013-01-01 GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014-01-01 Population  2.422752e+07         9.090000e+04  3.842226e+08
           GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015-01-01 Population  2.502197e+07         9.181800e+04  3.920223e+08
           GDP         1.026431e+11         1.297285e+09  2.530102e+12

country                   Argentina       Armenia  Aruba  ...    Uzbekistan  \
year                                                      ...
1960-01-01 Population           NaN           NaN    NaN  ...           NaN
           GDP                  NaN           NaN    NaN  ...           NaN
1961-01-01 Population           NaN           NaN    NaN  ...           NaN
           GDP                  NaN           NaN    NaN  ...           NaN
1962-01-01 Population  2.128768e+07           NaN    NaN  ...           NaN
...                             ...           ...    ...  ...           ...
2013-01-01 GDP         6.239320e+11  1.112147e+10    NaN  ...  5.679566e+10
2014-01-01 Population  4.298003e+07  3.006154e+06    NaN  ...  3.075770e+07
           GDP         5.480549e+11  1.164444e+10    NaN  ...  6.313285e+10
2015-01-01 Population           NaN  3.017712e+06    NaN  ...  3.129950e+07
           GDP                  NaN  1.056140e+10    NaN  ...  6.673280e+10

country                     Vanuatu  Venezuela, RB       Vietnam  \
year
1960-01-01 Population           NaN   8.146845e+06           NaN
           GDP                  NaN   8.607600e+09           NaN
1961-01-01 Population           NaN   8.461684e+06           NaN
           GDP                  NaN   8.923367e+09           NaN
1962-01-01 Population           NaN   8.790590e+06           NaN
...                             ...            ...           ...
2013-01-01 GDP         8.017876e+08   3.713366e+11  1.712220e+11
2014-01-01 Population  2.588830e+05            NaN  9.072890e+07
           GDP         8.149546e+08            NaN  1.862047e+11
2015-01-01 Population           NaN            NaN  9.170380e+07
           GDP                  NaN            NaN  1.935994e+11

country                Virgin Islands (U.S.)  West Bank and Gaza  \
year
1960-01-01 Population                32000.0                 NaN
           GDP                    24200000.0                 NaN
1961-01-01 Population                34100.0                 NaN
           GDP                    25700000.0                 NaN
1962-01-01 Population                36300.0                 NaN
...                                      ...                 ...
2013-01-01 GDP                           NaN        1.247600e+10
2014-01-01 Population                    NaN        4.294682e+06
           GDP                           NaN        1.271560e+10
2015-01-01 Population                    NaN        4.422143e+06
           GDP                           NaN        1.267740e+10

country                       World   Yemen, Rep.        Zambia      Zimbabwe
year
1960-01-01 Population  3.035056e+09           NaN  3.049586e+06  3.752390e+06
           GDP         1.364643e+12           NaN  6.987397e+08  1.052990e+09
1961-01-01 Population  3.076121e+09           NaN  3.142848e+06  3.876638e+06
           GDP         1.420440e+12           NaN  6.823597e+08  1.096647e+09
1962-01-01 Population  3.129064e+09           NaN  3.240664e+06  4.006262e+06
...                             ...           ...           ...           ...
2013-01-01 GDP         7.643132e+13  3.595450e+10  2.804552e+10  1.349023e+10
2014-01-01 Population  7.260780e+09           NaN  1.572134e+07  1.524586e+07
           GDP         7.810634e+13           NaN  2.713464e+10  1.419691e+10
2015-01-01 Population  7.346633e+09           NaN  1.621177e+07  1.560275e+07
           GDP         7.343364e+13           NaN  2.120156e+10  1.389294e+10

[112 rows x 252 columns]

In [12]:
# The .unstack() Method
world = pd.read_csv('../Files/worldstats.csv', index_col=['country','year'], parse_dates=['year'])
s = world.stack()
s.head(3)

country     year
Arab World  2015-01-01  Population    3.920223e+08
                        GDP           2.530102e+12
            2014-01-01  Population    3.842226e+08
dtype: float64

In [16]:
s.unstack(level=[1,0])
s.unstack(level=['year','country'])

year,2015-01-01,2014-01-01,2013-01-01,2012-01-01,2011-01-01,2010-01-01,2009-01-01,2008-01-01,2007-01-01,2006-01-01,...,1969-01-01,1968-01-01,1967-01-01,1966-01-01,1965-01-01,1964-01-01,1963-01-01,1962-01-01,1961-01-01,1960-01-01
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [17]:
s.unstack(level=[0,1])
s.unstack(level=['country','year'])

country       Arab World                                            \
year          2015-01-01    2014-01-01    2013-01-01    2012-01-01
Population  3.920223e+08  3.842226e+08  3.765043e+08  3.688026e+08
GDP         2.530102e+12  2.873600e+12  2.846994e+12  2.773270e+12

country                                                             \
year          2011-01-01    2010-01-01    2009-01-01    2008-01-01
Population  3.610318e+08  3.531122e+08  3.450542e+08  3.368865e+08
GDP         2.497945e+12  2.103825e+12  1.798878e+12  2.081343e+12

country                                 ...      Zimbabwe                \
year          2007-01-01    2006-01-01  ...    1969-01-01    1968-01-01
Population  3.287666e+08  3.209067e+08  ...  5.036321e+06  4.874113e+06
GDP         1.641666e+12  1.404190e+12  ...  1.747999e+09  1.479600e+09

country                                                             \
year          1967-01-01    1966-01-01    1965-01-01    1964-01-01
Population  4.718612e+06  4.568320e+06  4.422132e+06  4.279561e+06
GDP         1.397002e+09  1.281750e+09  1.311436e+09  1.217138e+09

country
year          1963-01-01    1962-01-01    1961-01-01    1960-01-01
Population  4.140804e+06  4.006262e+06  3.876638e+06  3.752390e+06
GDP         1.159512e+09  1.117602e+09  1.096647e+09  1.052990e+09

[2 rows x 11211 columns]

In [20]:
s = s.unstack('year', fill_value=0)