In [1]:
import pandas as pd
pokemon = pd.read_csv('../pandas_data/pokemon.csv',usecols=["Pokemon"], squeeze=True)
google = pd.read_csv('../pandas_data/google_stock_price.csv', usecols=["Stock Price"] ,squeeze=True)

In [2]:
pokemon.values
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [3]:
pokemon.index
google.index

RangeIndex(start=0, stop=3012, step=1)

In [4]:
pokemon.dtype
google.dtype

dtype('float64')

In [5]:
# is_unique returns True/False based if duplicate values are found
pokemon.is_unique
google.is_unique

False

In [6]:
# A series is always a one dimensional object
pokemon.ndim

1

In [7]:
# The # of (Rows, Columns) -- 721 rows by 1 column
pokemon.shape

(721,)

In [8]:
# Note: Null values are included in the count
pokemon.size
google.size

3012

In [9]:
pokemon.name = "Pocket Monsters"

In [10]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pocket Monsters, Length: 721, dtype: object

In [11]:
pokemon = pd.read_csv('../pandas_data/pokemon.csv',usecols=["Pokemon"], squeeze=True)
google = pd.read_csv('../pandas_data/google_stock_price.csv', usecols=["Stock Price"] ,squeeze=True)

In [12]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [13]:
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [17]:
google.sort_values(ascending=False).head(1)

3011    782.22
Name: Stock Price, dtype: float64

In [18]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [22]:
google.sort_values(inplace=True)

In [23]:
google.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [24]:
google.sort_values(ascending=False, inplace=True)

In [25]:
google.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64