In [1]:
import pandas as pd

In [4]:
google = pd.read_csv('../Files/google_stock_price.csv',squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [6]:
# Math Methods on Series Object

google.count() # count gives a number of rows in the series, excludes nulls or none unlike len()

3012

In [7]:
google.sum() # sum adds all of our values

1006942.0

In [8]:
google.mean() # mean returns the total average of all values

334.31009296148744

In [10]:
google.std()

173.18720477113106

In [11]:
google.min()

49.95

In [12]:
google.max()

782.22

In [13]:
google.median()

283.315

In [14]:
google.mode()

0    291.21
dtype: float64

In [20]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [21]:
# The .idxmax() and .idxmin() Methods

In [22]:
google.max()

782.22

In [23]:
google.min()

49.95

In [24]:
google.idxmax()

3011

In [25]:
google[3011]

782.22

In [26]:
google.idxmin()

11

In [27]:
google[11]

49.95

In [28]:
google[google.idxmin()]

49.95

In [32]:
# The .value_counts() Method
pokemon = pd.read_csv('../Files/pokemon.csv', index_col="Pokemon" ,squeeze=True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [37]:
pokemon.value_counts()
pokemon.value_counts().sum()

721

In [36]:
pokemon.count()

721

In [40]:
pokemon.value_counts(ascending=True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [41]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Good"
    else:
        return "Awesome!"

In [43]:
google.apply(classify_performance).tail()

3007    Awesome!
3008    Awesome!
3009    Awesome!
3010    Awesome!
3011    Awesome!
Name: Stock Price, dtype: object

In [44]:
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [47]:
google.apply(lambda stock_price: stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [48]:
# The .map() Method

In [52]:
pokemon_names = pd.read_csv('../Files/pokemon.csv',usecols=["Pokemon"], squeeze=True)
pokemon_types = pd.read_csv('../Files/pokemon.csv',index_col="Pokemon", squeeze=True)
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [53]:
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [55]:
"""
  .map() method will loop through the pokemon_names series object by value and try to find a corresponding index of the 
   value in pokemon_types series object and return it in a new series object
"""
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

In [56]:
pokemon_names = pd.read_csv('../Files/pokemon.csv',usecols=["Pokemon"], squeeze=True)
pokemon_types = pd.read_csv('../Files/pokemon.csv',index_col="Pokemon", squeeze=True).to_dict()

In [63]:
pokemon_types
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

In [ ]:
pd.