In [2]:
import pandas as pd
pokemon = pd.read_csv('../pandas_data/pokemon.csv',usecols=["Pokemon"], squeeze=True)
google = pd.read_csv('../pandas_data/google_stock_price.csv', usecols=["Stock Price"] ,squeeze=True)

In [25]:
pokemon.sort_values(ascending=False)
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [23]:
# sort by series index
pokemon.sort_index(ascending=True, inplace=True)

In [24]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [32]:
"Bulbasaur" in pokemon
"Bulbasaur" in pokemon.values

True

In [33]:
# Extract values by index position

In [50]:
pokemon[0:5]
pokemon[:10]
pokemon[-10:-5]

711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
Name: Pokemon, dtype: object

In [73]:
# extract items and from a new Series object
pokemon[[100,200,300]]

Pokemon
Electrode    Electric
Unown         Psychic
Delcatty       Normal
Name: Type, dtype: object