In [31]:
import pandas as pd

In [32]:
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'])
mac['Country'] = mac['Country'].astype('category')

In [33]:
mac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    category
 2   Price in US Dollars  652 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(1)
memory usage: 13.9 KB

In [34]:
mac.dtypes

Date                   datetime64[ns]
Country                      category
Price in US Dollars           float64
dtype: object

In [35]:
# Create a Multindex with the set_index() Method

In [36]:
mac.nunique()
mac.set_index(keys=['Date','Country'], inplace=True)

In [39]:
mac.sort_index(inplace=True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [40]:
mac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [41]:
mac.index.names

FrozenList(['Date', 'Country'])

In [43]:
type(mac.index)

pandas.core.indexes.multi.MultiIndex

In [46]:
mac.index[0]
mac.index[10]

(Timestamp('2010-01-01 00:00:00'), 'Denmark')