In [35]:
import pandas as pd
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'], index_col=['Date','Country'])
mac.sort_index(inplace=True)
mac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [36]:
# Change index level name with the set_names() Method

In [37]:
mac.index.set_names(names=['Day','Location'], inplace=True)

In [38]:
mac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [39]:
mac.index.set_names(names='Day', level=0)
mac.index.set_names(names='Date', level='Day')

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Location'], length=652)

In [40]:
# The sort_index() Method on a MultiIndex DataFrame
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'], index_col=['Date','Country'])

In [41]:
mac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [42]:
mac.sort_index()
mac.sort_index(ascending=[True,False])
mac.sort_index(ascending=[False,True], inplace=True)
mac.sort_index(level=0)
mac.sort_index(level=1)
mac.sort_index(level='Country', ascending=False)

                      Price in US Dollars
Date       Country
2016-01-01 Vietnam                   2.67
2015-07-01 Vietnam                   2.75
2015-01-01 Vietnam                   2.81
2014-07-01 Vietnam                   2.83
2014-01-01 Vietnam                   2.84
...                                   ...
2012-07-01 Argentina                 4.16
2012-01-01 Argentina                 4.64
2011-07-01 Argentina                 4.84
2010-07-01 Argentina                 3.56
2010-01-01 Argentina                 1.84

[652 rows x 1 columns]

In [46]:
# Extract Rows from a MultiIntex DataFrame
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'], index_col=['Date','Country'])
mac.sort_index(inplace=True)

In [47]:
mac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [57]:
mac.loc['2010-01-01','Argentina']
mac.loc['2010-01-01','Price in US Dollars'].head()
mac.loc[('2010-01-01','Argentina'), "Price in US Dollars"]
mac.loc[('2010-01-01',)].head(3)

           Price in US Dollars
Country
Argentina                 1.84
Australia                 3.98
Brazil                    4.76

In [58]:
mac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [64]:
mac.iloc[[10,30,50]]

                      Price in US Dollars
Date       Country
2010-01-01 Denmark                   5.99
           Singapore                 3.19
2010-07-01 Colombia                  4.39

In [65]:
# The transpose Method
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'], index_col=['Date','Country'])
mac.sort_index(inplace=True)
mac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [67]:
mac = mac.transpose()

In [68]:
mac.head(3)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [73]:
mac.loc[("Price in US Dollars",), ('2010-01-01','Canada') : ('2010-01-01','Columbia')]

Date                2010-01-01
Country                 Canada Chile China Colombia
Price in US Dollars       3.97  3.18  1.83     3.91

In [74]:
# The swaplevel Method
mac = pd.read_csv('../Files/bigmac.csv', parse_dates=['Date'], index_col=['Date','Country'])
mac.sort_index(inplace=True)
mac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [76]:
mac.swaplevel().head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

In [78]:
mac.swaplevel('Date','Country').head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

In [80]:
mac.swaplevel(0,1).head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

In [81]:
mac = mac.swaplevel('Date','Country')

In [82]:
mac.head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76