In [8]:
import pandas as pd 
week1 = pd.read_csv('../Files/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Files/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Files/Restaurant - Customers.csv')
foods = pd.read_csv('../Files/Restaurant - Foods.csv')

In [10]:
# The pd.concat Method
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [11]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [21]:
sales = pd.concat(objs=[week1,week2], keys= ["Week 1","Week 2"])

In [32]:
sales.loc[('Week 1'),]
sales.loc[('Week 2'),]
sales.loc[('Week 1',240)]
sales.loc[('Week 2',183)]
sales.loc[('Week 1',240),"Customer ID"]
sales.loc[('Week 1',240),["Customer ID","Food ID"]]

Customer ID    945
Food ID          5
Name: (Week 1, 240), dtype: int64