In [1]:
import pandas as pd 
week1 = pd.read_csv('../Files/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Files/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Files/Restaurant - Customers.csv')
foods = pd.read_csv('../Files/Restaurant - Foods.csv')

In [2]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [3]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [10]:
week1.merge(week2, how='inner', on= "Customer ID", suffixes=[' - Week 1', ' - Week 2'])

    Customer ID  Food ID - Week 1  Food ID - Week 2
0           537                 9                 5
1           155                 9                 3
2           155                 1                 3
3           503                 5                 8
4           503                 5                 9
..          ...               ...               ...
57          945                 5                 4
58          343                 3                 5
59          343                 3                 2
60          343                 3                 7
61          621                 9                 6

[62 rows x 3 columns]

In [7]:
week1[week1["Customer ID"] == 155]

    Customer ID  Food ID
4           155        9
17          155        1

In [8]:
week2[week2["Customer ID"] == 155]

     Customer ID  Food ID
208          155        3