In [1]:
import pandas as pd 
week1 = pd.read_csv('../Files/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Files/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Files/Restaurant - Customers.csv')
foods = pd.read_csv('../Files/Restaurant - Foods.csv')

In [2]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [3]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [10]:
week1.merge(right=week2, how='inner', on=['Customer ID','Food ID'])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [13]:
week1[week1['Customer ID'] == 578]

     Customer ID  Food ID
224          578        5

In [14]:
week2[week2['Customer ID'] == 578]

     Customer ID  Food ID
29           578        5
189          578        5