In [1]:
import pandas as pd 
week1 = pd.read_csv('../Files/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Files/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Files/Restaurant - Customers.csv')
foods = pd.read_csv('../Files/Restaurant - Foods.csv')

In [2]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [4]:
foods.head(3)

   Food ID Food Item  Price
0        1     Sushi   3.99
1        2   Burrito   9.99
2        3      Taco   2.99

In [7]:
week1 = week1.merge(foods, how='left' ,on='Food ID', sort=True)

In [8]:
week1.head()

   Customer ID  Food ID Food Item  Price
0          658        1     Sushi   3.99
1          600        1     Sushi   3.99
2          155        1     Sushi   3.99
3          341        1     Sushi   3.99
4           20        1     Sushi   3.99