In [1]:
import pandas as pd 
week1 = pd.read_csv('../Files/Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Files/Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Files/Restaurant - Customers.csv')
foods = pd.read_csv('../Files/Restaurant - Foods.csv')

In [8]:
merged_weeks = week1.merge(week2,how='outer',on='Customer ID', suffixes=[' - Week 1',' - Week 2'], indicator=True)

In [10]:
merged_weeks['_merge'].value_counts()

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [15]:
mask = merged_weeks['_merge'].isin(['left_only','right_only'])
merged_weeks[mask]

     Customer ID  Food ID - Week 1  Food ID - Week 2      _merge
1             97               4.0               NaN   left_only
2            658               1.0               NaN   left_only
3            202               2.0               NaN   left_only
6            213               8.0               NaN   left_only
7            600               1.0               NaN   left_only
..           ...               ...               ...         ...
449          855               NaN               4.0  right_only
450          559               NaN              10.0  right_only
451          276               NaN               4.0  right_only
452          556               NaN              10.0  right_only
453          252               NaN               9.0  right_only

[392 rows x 4 columns]